/*section.container {
  background-color: gray;
}*/

div.col-1, div.col-6 {
  outline: 1px solid red;
}

div.margin {
  margin-left: 2px;
  margin-right: 2px;
}

section.header, .footer {
  background-color: #343A40;
}

div.col-2 {
  outline: 1px solid green;
}

div.name-tagline {
  /*outline: 1px solid pink;*/
  height: 250px;
}

h1, p.menu, .tagline {
  color: white;
}

p.menu, p.tagline {
  text-align: center;
  /*font-size: 50px;*/
}

section.background {
  outline: 1px solid red;
  background-image: url("https://dummyimage.com/1920x400");
  background-position: center;
  background-size: 100%;
}

section.info {
  outline: 2px solid black;
  height: 605px;
}

.col-10 {
  outline: 2px solid blue;
  height: 590px;
}

.about-us {
  outline: 1px solid red;
  height: 255px;
}

.images {
  outline: 5px solid black;
  height: 325px;
}

.col-8 {
  outline: 1px solid orange;
  height: 230px;
}

.col-4 {
  outline: 1px solid green;
  height: 230px;
}

.us {
  outline: 1px solid red;
}

.hola {
  outline: 1px solid pink;
  margin-top: 10px;
}

.button {
  outline: 1px solid pink;
  margin-top: 10px;
}

.height {
  height: 310px;
}

.background-images {
  background-image: url("https://dummyimage.com/300x200/000/fff");
  background-position: center;
  outline: 1px solid purple;
  height: 140px;
}

.text-images {
  outline: 5px solid blue;
  height: 120px;
}

.row-title {
  outline: 1px solid red;
}

.col-12-title {
  outline: 1px solid black;
}

.row-text {
  outline: 1px solid orange;
}

.col-12-text {
  outline: 1px solid pink;
}

.row-button {
  outline: 1px solid purple;
  height: 50px;
}

.footer {
  outline: 1px solid red;
  height: 100px;
}

.text-footer {
  outline: 1px solid orange;
  height: 75px;
  text-align: center;
}
